<div class="footer_container">
  <footer>
    <div>© MAYANN 2021</div>
    <div class="footer_links">
      <a href="https://mayann.app">generator</a>
      <div class="footer_link_separator">|</div><a href="https://mayann.app/contact">contact</a>
      <div class="footer_link_separator">|</div><a href="https://github.com/k4wo/mayann/discussions">discussion
        board</a>
      <div class="footer_link_separator">|</div><a href="https://headwayapp.co/mayann-changelog">change log</a>
      <div class="footer_link_separator">|</div><a href="https://twitter.com/MayannApp">twitter</a>
    </div>
  </footer>
</div>
