<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/assets/favico.svg">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@MayannApp" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="/assets/favico.svg" />
</head>

<body>

  {%- include header.html -%}

  <main aria-label="Content">
    {{ content }}
  </main>

  {%- include footer.html -%}

</body>

</html>
